<div class="jumbotron">
  <h1 class="display-4">Welcome to Ride Sharing</h1>
  <hr class="my-4">
  <p>Please log in or sign up to view rides</p>
  <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
</div>
