<div id="cancel" style="margin-top:10%; margin-left:40%">
  <h1>Your trip has been canceled</h1>
  <%= link_to 'Back to Trips', all_trips_user_trips_path(current_user), class: "btn btn-primary"%>
</div>