<div id="finish_page", style="margin-top: 5%; margin-left: 30%;">
    <h1>Thank you for driving!</h1>
    <div id ="back_button" style="margin-top:5px; margin-left: 30px;">
      <%= link_to 'Go Back to Home ', root_path, class:"btn btn-primary"%>
    </div>
</div>