<div id= "trip_complete", style="margin-left:20%; margin-top:10%">
    <h2> You have completed the trip, please rate your rider </h2>
<!--    <div class="field">-->
        <%#= rating_for @ride, enable_half: true %>
<!--    </div>-->
</div>