<div id="cancel_trip" style = "margin-left: 20%; margin-top: 10%">
  <h1>Your trip has been canceled successfully</h1>
  <h1>You and your driver/rider will receive a text message</h1>
  <%= link_to "Back to All Trips", all_trips_user_trips_path(current_user.id), class: "btn btn-primary"%>
</div>