<div class="row">
    <div class="col-md-6">
    <label>Upcoming Trips</label>
    </div>
    <div class="col-md-6">
    <p><%= link_to 'View Upcoming Trips', upcoming_trip_path(id: current_user.id, status: "started"), class: 'profile-edit-btn' %></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    <label>Past Trips</label>
    </div>
    <div class="col-md-6">
    <p><%= link_to 'View Past Trips', class: 'profile-edit-btn' %></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    <label>Canceled Trips</label>
    </div>
    <div class="col-md-6">
    <p><%= link_to 'View Canceled Trips', class: 'profile-edit-btn' %></p>
    </div>
</div>
<% if !@user.is_driver%>
    <div class="row">
        <div class="col-md-6">
        <label>Trips waiting for drivers to confirm</label>
        </div>
        <div class="col-md-6">
        <p><%= link_to 'View Trips waiting for drivers to confirm', class: 'profile-edit-btn' %></p>
        </div>
    </div>
<% end %>
