<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <p>Do you want to accept the ride? </br>
    Press "Accept" to accept the ride,</br>
    or "Cancel" to return to previous page.</p>
  <br>
  <div class="sign_in_form">
    <%= form_with :url => accept_user_notifications_path(current_user), method: :get do |f| %>
      <div id="notify_way" , style="margin-top:5px;">
        <%= f.hidden_field :request_id, :value => params[:id] %>
      </div>
      <div id="submit_button" , style="margin-top:10px">
        <%= f.submit "Accept", class: "fadeIn fourth" %>
      </div>
    <% end %>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
</div>