<div class="finish" style="margin-left:40%; margin-top: 5%">
  <h1>Thanks for riding!<i class="far fa-smile"></i></h1>
  <div class="home_button" style="margin-left: 70px;margin-top: 20px;">
    <%= link_to "Back to home", root_path, class: "btn btn-primary"%>
  </div>
</div>