@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


body{
    
    background-color:#EEE2DC !important;
    font-family:"Montserrat";
    text-align: center;
   }
   
   
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
  }
  
/* Containers */     
   
.navbar{
       padding:8px 16px !important;
   }
   
.nav-item{
       padding: 0 18px !important;
   }
   
.nav-link{
       font-size: 1.2rem;
       font-family: "Montserrat-Light";
   }

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 3rem !important;
    font-weight: bold; 
   }

   .btn-standard {
    background-color: #123C69;
    border: 3px solid #123C69;
    color: #EEE2DC;
    border-radius: 5px;
  }  

footer{
       padding-top:7%;
       text-align:center;
       color:grey;
       font-size: 1rem;
   }

   .social-icon{
    color: #bab2b5;
    margin: 20px 10px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
   }

   .social-icon:hover{
    color:#123C69;
}  

.home{
    padding: 3% 1.8% 37%;
    height: auto;
    width: auto;
    background-image: url("/assets/ride2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
    // opacity: 0.3; 

.link-to-custome{
    color:rgb(200, 211, 52);
    background-color: #edc7b7;
}


// .icon{
//        margin:20px 10px;
//    }

// .icon{
//     color:#ef8172;
//     margin-bottom: 1rem;
// }
