<div style="margin-left:35%; margin-right: 35%; margin-top:10px;">
    <h1 style="text-align:center;">Add Vehicle Information</h1>
  <%= render 'form', vehicle: @vehicle %>

  <div style="text-align:center; padding-top:150px;">
    <%= link_to 'Back To Profile', user_path(@user), class:"btn btn-primary" %>
  </div>
</div>

