<div id="new_vehicle", style="margin-top:20px; margin-left:20%; margin-right: 20%">
    <h1 style="text-align:center;">Add Vehicle Information</h1>
    <div id="vehicle_form", style="margin-top: 10px;">
        <%= render 'form', vehicle: @vehicle %>
        <div id="back_button", style="text-align:right">
            <%= link_to 'Back', user_path(current_user.id), class: "btn btn-primary" %>
        </div>
    </div>
</div>

