@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$background:  #EAE7DC;
$light-brown: #D8C3A5;
$grey:#8E8D8A;
$light-red: #E98074;
$deep-red: #E85A4F;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* debug message */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

  /* miscellaneous */
@font-face {
    font-family: "IBM";
    src: url("/assets/IBMPlexSerif-Medium.ttf")
}

*{
  font-family: "IBM";
}

body {
  background-color:$background !important;
  text-align: center;
}

/* Containers */     

.nav{
  .navbar_backgroud{
    background-image: url("/assets/nav_bg.png");
    width: 100%;
  }

  .navbar{
    padding:8px 16px !important;
  }

  .nav-item{
    padding: 0 18px !important;
  }

  .nav-link{
    font-size: 2rem;
  }

  .nav-item.hover{
    color: #bab2b5;
  }

  .navbar-brand{
    font-size: 3.5rem !important;
    font-weight: bold; 
  }
}

footer{
  padding-top:7%;
  text-align:center;
  color:grey;
  font-size: 1rem;

  .social-icon{
    color: #bab2b5;
    margin: 20px 10px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
  }
  
   .social-icon:hover{
    color:#123C69;
  }  
}

.link-to-custome{
  color:rgb(200, 211, 52);
  background-color: #edc7b7;
}

.btn-standard {
  background-color: $light-brown;
  border: 3px solid $light-brown;
  color: #E98074;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
}  