// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.chat {
    margin: 10% auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    top:10%;
  }