// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

#aDiv{
    width: 300px; 
    height: 300px; 
    margin: 0 auto;
}