<div id = "pickup", style="margin-left: 10%; margin-top:5%;">
    <div id="map", data-controller="location", data-action="google-maps-callback@window->location#initMap">
        <div data-target= "location.map", style="width: 600px; height:400px"></div>
    </div>
    <div class="navigation", style="margin-top: 5px;">
        <h4> Click the button to get your current location and direction for the trip </h4>
        <%= link_to "Get my current location", "javascript:getLocation()", class:"btn btn-info"%>
    </div>
</div>
<script>
    function getLocation(){
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position){
            $.ajax({
                type: 'GET',
                url: '/pickup',
                data: { curr_lat: position.coords.latitude, curr_lon: position.coords.longitude },
                success: function(){
                    alert("Successfully get your current location");
                },
                error: function(){
                    alert("Unable to get your current location");
                }
            })
        })
        }
    };
</script>