<div id="rider_pickup", style="margin-left:10%; margin-top:5%">
    <h1> You are heading to rider's location......</h1>
    <h3> Click the pick up button when rider has been picked up</h3>
    <div id="pickup_buttons", style="margin-top:5%">
        <%= link_to "Rider Picked Up", pickup_path, class: "btn btn-primary"%>
        
    </div>
</div>