<div id="rider_pickup", style="margin-left:10%; margin-top:5%">
    <div id="pickup_buttons", style="margin-top:5%">
        <%= link_to "Rider Picked Up", pickup_path, class: "btn btn-primary"%>
    </div>

    <div id="destionation">
    </div>
</div>