<%= paginate @availabilities, theme: 'my_custom_theme'%>
<% @availabilities.each_slice(4).each do |a|%>
    <div class = "row", style = "margin-top: 2%;">
        <% a.each do |availability| %>
            <div class="col-md-3">
                <%= render 'card',  :availability => availability%>
            </div>
        <% end %>
    </div>
<% end %>