<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
<!--  <p>Ride has been requested. Please wait for driver to confirm your ride. </p>-->
  <p>Do you want to request the ride? </br>
     Press "Request" to request the ride,</br>
     or "Cancel" to return to previous page.</p>
  <br>
  <% puts @availability.id %>
  <div class="sign_in_form">
    <%= form_with :url => notify_user_notifications_path(current_user), method: :get do |f| %>
      <div id="notify_way" , style="margin-top:5px;">
        <%= f.hidden_field :is_send_notification, value: false %>
        <%= f.hidden_field :availability_id, :value => @availability.id %>
      </div>
      <div id="submit_button" , style="margin-top:10px">
        <%= f.submit "Request", class: "fadeIn fourth" %>
      </div>
    <% end %>
    <%#= form_with url: '/notify', method: :get do |f| %>
<!--      <div id="notify_way" , style="margin-top:5px;">-->
        <%#= f.radio_button :is_send_notification?, true %>
        <%#= f.label :is_send_notification, 'Send Notification', value: true %>
        <%#= f.radio_button :is_send_notification?, false %>
        <%#= f.label :is_send_notification, 'Send Text', value: false %>
        <%#= f.hidden_field :availability_id, :value => @availability.id %>
<!--      </div>-->
<!--      <div id="submit_button" , style="margin-top:10px">-->
        <%#= f.submit "Notify", class: "fadeIn fourth" %>
<!--      </div>-->
    <%# end %>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
</div>

<!--<script>-->
<!--  document.getElementById('submitButton').onclick = function(){-->
<!--      document.getElementById('wholeWindow').style.display = 'none'-->
<!--  }-->
<!--</script>-->