<div class="new_request">
    <h1>Submit a New Availability</h1>
    <div class="form">
        <%= render 'form', availability: @availability %>
        <div id="back_button", style="text-align:right; margin-top:10px;">
          <%= link_to 'Back', root_path, class: "btn btn-primary" %>
        </div>
    </div>
</div>