<div>
  <div>
      <%= render 'form', availability: @availability %>
  </div>
  <div id="back_button", style="text-align:center; margin-top:10px;">
    <%= link_to 'Back To Home Page', root_path, class: "btn btn-primary" %>
  </div>
</div>