<div class="new_request">
    <h1>Submit a New Availability</h1>
    <div class="form">
        <%= render 'form', availability: @availability %>
        <%= link_to 'Back', root_path %>
    </div>
</div>