<!-- Footer -->

  <footer>
      <i class="icon fab fa-facebook"></i>
      <i class="icon fas fa-envelope-square"></i>
      <i class="icon fab fa-instagram"></i>

    <p>© Copyright 2020 Ride_Sharing</p>

  </footer>